@media (min-width: 1100px){
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .bento-container {
        display: grid;
        grid-template-areas:"create social social schedule"
                            "create manage maintain schedule"
                            "write manage maintain schedule"
                            "write faster grow grow";
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: 330px 80px 170px 250px;
        max-width: 1100px;
        gap: 2rem;
        padding: 0%;
    }
    .bento-container > div{
        height: 100%;
        width: 100%;
    }
    .text {
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 3.5rem;
        margin-top: 2rem;
    }
    .create{
        grid-area: create;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        margin: 0;
    }
    .create p{
        margin: 0 0 20px;
        width: 20rem;
        font-weight: 400;
    }
    .write{
        grid-area: write;
        padding: 1.8rem;
    }
    .write .text{
        font-weight: 500;
        width: 20rem;
        margin-bottom: 30px;

    }
    .social{
        grid-area: social;
    }
    .social h1{
        font-size: 6rem;
        line-height: 6rem;
    }
    .manage{
        grid-area: manage;
        overflow: hidden;
        padding: 20px;
    }
    .manage div{
        width: 300px;
        margin-left: 8px;
    }
    .manage .text{
        font-weight: 600;
        font-size: 3rem;
        line-height: 3rem;
    }

    .faster{
        grid-area: faster;
    }
    .faster span{
        font-weight: 500;
        font-size: 6rem;
    }
    .faster p{
        font-size: 1.8rem;
    }
    .faster div{
        width: 175px;
    }
    .maintain{
        grid-area: maintain;
        padding: 2rem;
    }
    .maintain .text{
        line-height: 3rem;
    }
    .bento-container .grow{
        grid-area: grow;
        flex-direction: row;
    }
    .grow .text{
        width: 25rem;
        text-align: left;
        margin-top: 0rem;
    }
    .schedule{
        grid-area: schedule;
        overflow: hidden;
    }
    .schedule .text, .schedule p:last-child{
        text-align: left;
        margin: 20px 0;
    }
    .schedule div{
        height: 300px;
        width: max-content;
        margin-left: 15px;
    }
    

}