:root{
--roxo-claro: hsl(254, 88%, 90%);
--roxo-escuro: hsl(256, 67%, 59%);
--amarelo-claro: hsl(31, 66%, 93%);
--amarelo-escuro: hsl(39, 100%, 71%);
--branco: hsl(0, 0%, 100%);
--preto: hsl(0, 0%, 7%);
}